<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Casa Reparadora</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Casa Reparadora</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Registro</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Diagnóstico
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item disabled" href="#">Diagnóstico Técnico</a>
                        <a class="dropdown-item disabled" href="#">Diagnóstico Final</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Inventario
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item disabled" href="#">Lista Inventario</a>
                     </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reporte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="@Url.Action("ReporteDiagnostico", "Reporte")">Reporte Diagnóstico</a>
                        <a class="dropdown-item disabled" href="#">Documentación Técnico</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Administración
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a class="dropdown-item" href="@Url.Action("Usuario", "Mantenimiento")">Mantenimiento Usuarios</a>
                        <a class="dropdown-item" href="@Url.Action("Empleado", "Mantenimiento")">Mantenimiento Empleados</a>
                        <a class="dropdown-item" href="@Url.Action("Departamentos", "Mantenimiento")">Mantenimiento Departamentos</a>
                        <a class="dropdown-item" href="@Url.Action("Municipios", "Mantenimiento")">Mantenimiento Municipios</a>
                        <a class="dropdown-item" href="@Url.Action("Listado", "Cliente")">Mantenimiento Clientes</a>
                    </div>
                </li>
            </ul>
            <a href="@Url.Action("Index", "Login")" class="nav-link my-2 my-lg-0 text-white">Iniciar Sesión</a>
        </div>
    </nav>

    <section class="container mt-4">
        @RenderBody()
    </section>
    <hr />

    <footer class="footer">
        <div class="footer-copyright text-center py-3">
            <p>&copy; @DateTime.Now.Year - Casa Reparadora</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/Scripts/datatables/jquery.dataTables.js"></script>
    <script src="~/Scripts/datatables/translation-spanish.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
