@model IEnumerable<RepairHouse.Models.OrdenReparacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaResolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadEquipos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioBruto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioNeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facturado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.PrimerNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.PrimerNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoOrdenReparacion.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEmision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaResolucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadEquipos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioBruto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioNeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facturado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.PrimerNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.PrimerNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoOrdenReparacion.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOrdenReparacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOrdenReparacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOrdenReparacion })
        </td>
    </tr>
}

</table>
