@model IEnumerable<RepairHouse.Models.Diagnostico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTecnico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diagnostico1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComentariosCotizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCotizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipo.NumeroSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrdenDiagnostico.Comentarios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.PrimerNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTecnico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnostico1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComentariosCotizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCotizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo.NumeroSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrdenDiagnostico.Comentarios)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.PrimerNombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDiagnostico }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDiagnostico }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDiagnostico })
        </td>
    </tr>
}

</table>
