@model RepairHouse.Models.Equipo

@{
    ViewBag.Title = "Details";
}

<h2>Detalles de Equipos</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroSerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.PrimerNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.PrimerNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarcaEquipo.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarcaEquipo.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeloEquipo.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeloEquipo.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEquipo.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEquipo.Tipo)
        </dd>

    </dl>
</div>
<p>

    <div class="parent-style-one">
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdEquipo })
    </div>
    <div class="form-actions no-color">
      
        @Html.ActionLink("Back to List", "Index")
    </div>

</p>
