@model IEnumerable<RepairHouse.Models.OrdenDiagnostico>

@{
    ViewBag.Title = "Orden diagnósticos";
}

<h2>Orden diagnósticos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <label>Filtrar por estado:</label>
    @Html.DropDownList("IdEstado", null, htmlAttributes: new { @class = "form-control d-inline w-25", @onchange = "filtrarOrdenes(this)" })
</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Emisión
        </th>
        <th>
            Estado
        </th>
        <th>
            # Equipos
        </th>
        <th>
            Precio
        </th>
        <th>
            Cliente
        </th>
        <th>
            Sucursal
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrdenDiagnostico)
            </td>
            <td>
                @String.Format("{0:yyyy/MM/dd}", item.FechaEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoOrdenDiagnostico.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadEquipos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioNeto)
            </td>
            <td>
                @item.Cliente.PrimerNombre
                @item.Cliente.PrimerApellido
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdOrdenDiagnostico }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdOrdenDiagnostico }) @*|
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdOrdenDiagnostico })*@
            </td>
        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function filtrarOrdenes(e) {
            var url = '@Url.Content("~/OrdenDiagnosticos?idEstado=")' + $(e).val();
            location.href = url;
        }
    </script>
}