@model IEnumerable<RepairHouse.Models.OrdenDiagnostico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdOrdenDiagnostico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoOrdenDiagnostico.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadEquipos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioNeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facturado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrdenDiagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoOrdenDiagnostico.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadEquipos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioNeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facturado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.PrimerNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.PrimerNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal.IdSucursal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdOrdenDiagnostico }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdOrdenDiagnostico }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdOrdenDiagnostico })
            </td>
        </tr>
    }

</table>