@model RepairHouse.Models.Inventario

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro de eliminar este campo</h3>
<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioNeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioNeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
