@model IEnumerable<RepairHouse.Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Registros de Empleados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <a href="@Url.Action("Index", "Usuarios")" class="btn btn-primary">Cuentas de usuario</a>
</p>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Cargo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoEmpleado.Estado)
            </th>
            <th>
                Sucursal
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.IdEmpleado
                </td>
                <td>
                    @item.PrimerNombre
                    @item.SegundoNombre
                    @item.PrimerApellido
                    @item.SegundoApellido
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoEmpleado.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdEmpleado }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdEmpleado }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdEmpleado })
                </td>
            </tr>
        }

    </table>
</div>
